{{ 'section-product-list-houseplant.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .product-list__item {
    border: {{ section.settings.border_thickness }}px solid rgba(var(--color-foreground));
  }
{%- endstyle -%}

{%- liquid
  assign num_items = section.blocks.size | plus: 1
-%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="product-list-wrapper isolate{% if section.settings.title == blank %} no-heading{% endif %}{% if section.settings.show_view_all == false or section.blocks.size > products.size %} no-mobile-link{% endif %} section-{{ section.id }}-padding">
    <ul
      class="product-list contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down product-list--{{ num_items }}-items"
      id="Slider-{{ section.id }}"
      role="list"
    >
      <li class="product-list-title-card product-list__item grid__item title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
        <h2
          id="SectionHeading-{{ section.id }}"
          class="product-list-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: 0;"
          {% endif %}
        >
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.show_view_all and section.blocks.size < collections["all"].products.size -%}
          <div
            class="center product-list-view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            <a
              href="{{ routes.all_products_collection_url }}"
              class="button product-list-view-all-button"
              id="ViewAllButton-{{ section.id }}"
              aria-labelledby="ViewAllButton-{{ section.id }} SectionHeading-{{ section.id }}"
            >
              {{- 'sections.product_list.view_all' | t -}}      
              <span class="icon-wrap product-list-view-all-icon">
                {{- 'icon-arrow.svg' | inline_asset_content -}}
              </span>
            </a>       
          </div>
        {%- endif -%}
      </li>
      {%- liquid
        assign columns = num_items
        if columns > 3
          assign columns = 3
        endif
      -%}
      {%- for block in section.blocks -%}
        <li
          id="Slide-{{ section.id }}-{{ forloop.index }}"
          class="product-list__item grid__item{% if block.settings.product.featured_image == nil %} product-list__item--no-media{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index | plus: 1 }};"
          {% endif %}
        >
          {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
          {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
          {% render 'card-product',
            card_product: block.settings.product,
            media_aspect_ratio: section.settings.image_ratio,
            columns: columns,
            placeholder_image: placeholder_image
          %}
        </li>
      {%- endfor -%}
    </ul>

  </div>
</div>
<!-- 
{% schema %}
{
  "name": "t:sections.product-list-houseplant.name",
  "tag": "section",
  "class": "section section-product-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.product-list-houseplant.settings.title.default",
      "label": "t:sections.product-list-houseplant.settings.title.label"
    },
    {
      "type": "header",
      "content": "t:sections.product-list-houseplant.settings.header_layout.content"
    },    
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.product-list-houseplant.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.product-list-houseplant.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.product-list-houseplant.settings.image_ratio.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.product-list-houseplant.settings.image_ratio.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.product-list-houseplant.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.product-list-houseplant.settings.show_view_all.label",
      "info": "t:sections.product-list-houseplant.settings.show_view_all.info"   
    },
    {
      "type": "header",
      "content": "t:sections.product-list-houseplant.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.product-list-houseplant.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.product-list-houseplant.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.product-list-houseplant.settings.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_right",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.header__border.content"
    },
    {
      "type": "paragraph",
      "content": "t:settings_schema.layout.settings.paragraph__border.content"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 4,
      "step": 0.1,
      "unit": "rem",
      "label": "t:settings_schema.global.settings.thickness.label",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "featured_product",
      "name": "t:sections.product-list-houseplant.blocks.featured_product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.product-list-houseplant.blocks.featured_product.settings.product.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-list-houseplant.presets.name",
      "blocks": [
        {
          "type": "featured_product"
        },
        {
          "type": "featured_product"
        },
        {
          "type": "featured_product"
        }
      ]
    }
  ]
}
{% endschema %} -->
